backend/project_test.session.sql
backend/db_struc.sql
backend.v11.24.zip
backend/__pycache__/__init__.cpython-312.pyc
backend/__pycache__/db_test.cpython-312.pyc
backend/__pycache__/server.cpython-312.pyc
backend/.vscode/settings.json
backend/__init__.py
backend/backup/db_struc.sql
backend/backup/db/__pycache__/__init__.cpython-312.pyc
backend/backup/db/__pycache__/connection.cpython-312.pyc
backend/backup/db/__pycache__/operations.cpython-312.pyc
backend/backup/routes/__pycache__/__init__.cpython-312.pyc
backend/backup/routes/__pycache__/constraints.cpython-312.pyc
backend/backup/routes/__pycache__/courses.cpython-312.pyc
backend/backup/routes/__pycache__/examinations.cpython-312.pyc
backend/backup/routes/__pycache__/faculty.cpython-312.pyc
backend/backup/routes/__pycache__/generate_csp.cpython-312.pyc
backend/backup/routes/__pycache__/rooms.cpython-312.pyc
backend/backup/routes/__pycache__/students.cpython-312.pyc
backend/routes/__pycache__/__init__.cpython-312.pyc
backend/routes/__pycache__/courses.cpython-312.pyc
backend/routes/__pycache__/exams.cpython-312.pyc
backend/routes/__pycache__/faculty.cpython-312.pyc
backend/routes/__pycache__/generate_timetable.cpython-312.pyc
backend/routes/__pycache__/rooms.cpython-312.pyc
backend/routes/__pycache__/timetable.cpython-312.pyc
backend/tools/__init__.py
backend/db/__pycache__/__init__.cpython-312.pyc
backend/db/__pycache__/connection.cpython-312.pyc
backend/db/__pycache__/operations.cpython-312.pyc
backend/db/__init__.py
backend/backup/routes/__init__.py
backend/routes/__init__.py
backend/tools/__pycache__/__init__.cpython-312.pyc
backend/tools/__pycache__/constraints.cpython-312.pyc
backend/tools/__pycache__/csp.cpython-312.pyc
backend/backup/algorithms/__pycache__/csp.cpython-312.pyc
backend/backup/db/__init__.py
backend/.vscode/launch.json
backend/.vscode/tasks.json
backend/backup/*
backend/.env
backend/.venv
